@import url("../fonts/stylesheet.css");

$yellow : #FBCC34;
$green 	: #60E2C5;
$black 	: #212121;
$white 	: #fff;

html, body {

	width: 100%;
	height: 100%;
	-webkit-font-smoothing: antialiased;
	overflow: hidden;

}

body{
  
  font-family: 'aller_displayregular';
  -webkit-font-smoothing: antialiased;
  font-size: 16px;

  background: $yellow;

}

// Typography

h3 {
	font-size: 1.8em;
}

p {

	font-size: 1.2em;
	font-family: 'allerbold';
 	line-height: 30px;

}

// Links

a.btn-primary {	
	-webkit-font-smoothing: antialiased;
	transition: all 0.25s;
	padding: 10px 15px;
	background: $yellow;
	border-radius: 6px;
	text-align: center;
	display: inline-block;
	font-weight: 700;
	font-size: 1.6em;
	color: $black;
	border: 4px solid $black;

	&:hover {

		background: $white;
		border-color: $white;

	}

}

// Helpers 

.text-center {
	text-align: center;
}

.row, .col{
	position: absolute;
}
.row {
	left: 0;
	right: 0;
}

.col{
	top: 0;
	bottom: 0;
}

*{
	box-sizing: border-box;
}

.vertical-center-parent{
  white-space: nowrap;
  
  &:before{
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }
}

.vertical-center{
  white-space: normal;
  display: inline-block;
  vertical-align: middle;
}

.scroll-y{
	overflow-y: scroll;
}

.explainer {

	font-size: 0.9em;
	color: #A07B06;


	a {

		transition: all 0.3s;
		color: #A07B06;
		border-bottom: 2px solid #A07B06;

		&:hover {

			color: $black;

		}
	}

}

