!frontend/root/css/animate.css
frontend/lib/
css
node_modules
npm-debug.log
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.log
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.dbnode_modules
