.start-overlay {

	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 20;
	background: rgba(0,0,0,0.9);
	color: $white;

	.contain {

		p{
			margin-bottom: 20px;
		}

		width: 530px;
		margin: 150px auto;

		h1 {
			font-size: 2.2em;
		}

		input {

			font-family: 'allerbold';
			margin: 40px 0;
			padding: 15px;
			background: none;
			color: $white;
			font-size: 1.6em;
			border: none;
			border-bottom: 2px solid $white;
			text-align: center;

		}

		.btn-primary {

			background: transparent;
			border: 2px solid $white;
			color: $white;
			padding: 10px 93px;

		}

	}

	.countdown {

		display: none;
		font-size: 600px;
		text-align: center;
		color: $white;

	}

}

.load-overlay{
	z-index: 10;
}

.game.container {

	bottom: 60px;

	header {
		
	  	height: 100px;
	  	background: #fff;
	  	padding: 23px 20px;
	
		span {
			font-size: 40px;
			display: inline-block;
			margin: 0px 30px;
			font-weight: 700;
		}

		h1 {
			display: inline-block;
			font-size: 40px;
			text-transform: uppercase;
		}
	}

}

.main-game-panel {

	padding: 30px;
	top: 100px;
	bottom: 0;

	.player-one-word-trail {

		h1{
			margin-bottom: 30px;
		}

		position: absolute;
		left: 0;
		width: 250px;
		padding: 30px;
		color: $white;
		font-weight: 700;
		z-index: 2;

		ul{
			overflow: hidden;
		}

		li {

			font-family: 'allerbold';
			list-style-type: none;
			margin: 0;
			margin-top: 30px;
			vertical-align: middle;
			line-height: 27px;
			position: relative;
			padding-left: 30px;

			span.circle {

				border-radius: 50%;
				height: 17px;
				width: 17px;
				border: 3px solid $white;
				background: $white;
				float: left;
				vertical-align: middle;
				position: absolute;
				left: 0;
				top: 0;

				&:before {
					content: "";
					position: absolute;
					left: 4px;
					width: 1px;
					border-left: 3px solid #FFF;
					height: 500px;
					bottom: 15px;
				}
			
			}

			&:first-child{
				margin-top: 0;
				span.circle:before{
					content: none;
				}				
			}

			&:last-child{

				margin-top: 60px;

				span.circle {
					background: none;
					&:before{
						content: "";
						position: absolute;
						left: 4px;
						width: 1px;
						border-left: 3px dotted #FFF;
						height: 1000px;
						bottom: 15px;
					}
				}

			}

		}

	}

	.player-current-word {

		// transform: scale(0.8);
		opacity: 0;
		padding: 30px 0; //250px;
		left: 250px;
		right: 250px;

		&.active {

			transition: all 0.3s;
			// transform: scale(1);
			opacity: 1;

		}

		&.hide {

			opacity: 0;

		}

		&.next {

			transform: scale(1.3);
			opacity: 0;

		}

		h1 {
			font-size: 2.4em;
			text-transform: uppercase;
			max-width: 600px;
			white-space: normal;
		}

		p{
			font-size: 0.8em;
			line-height: 1.6em;
			white-space: normal;
		}

		.word-image-container{
			margin: auto;
			background: $white;
			padding: 10px;
			-webkit-box-shadow: 0px 10px 24px -1px rgba(102,77,13,0.5);
			-moz-box-shadow: 0px 10px 24px -1px rgba(102,77,13,0.5);
			box-shadow: 0px 10px 24px -1px rgba(102,77,13,0.5);
			// width: 80%;
			-ms-transform: rotate(3deg); /* IE 9 */
			-webkit-transform: rotate(3deg); /* Chrome, Safari, Opera */
			transform: rotate(3deg);
			display: inline-block;

			img{
				width: auto;
				height: auto;
				max-width: 500px;
				max-height: 500px;
				// display: block;
			}

		}


	}

}

.answer-input {

	text-align: center;

	input {
		font-family: 'allerbold';
		margin-top: 30px;
		background: $white;
		border-radius: 8px;
		padding: 10px 15px;
		font-size: 1.8em;
		border: none;
		text-align: center;
	}

}

section.timer {

	position: fixed;
	width: 100%;
	background: $white;
	bottom: 0;
	height: 60px;
	line-height: 60px;

	.inner {

		width: 100%;
		position: fixed;
		bottom: 0;
		left: 0;
		background: $green;
		height: 60px;

		&.counting-down {

			transition: width 30s linear;
			width: 0;

		}

	}

	span {

		position: fixed;
		bottom: 0px;
		left: 0px;
		width: 100%;	
		color: $white;
		font-size: 1.5em;
		font-weight: 700;
		z-index: 10;
		text-transform: uppercase;
		
	}

}

.answer-feedback {

	transition: opacity 0.3s;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 20;
	pointer-events: none;
	opacity: 0;
	text-align: center;
	padding-top: 100px;

	h1 {	

		font-size: 140px;

	}

	h2 {
		text-transform: uppercase;
		font-size: 100px;
	}

	.correct, .wrong, .win {

		position: absolute;
		transition: all 0.3s;
		transform: scale(0.3);
		opacity: 0;
		width: 100%;
		top: 50%;
		left: 0;
		margin-top: -200px;

	}

	.win {
		transition: all 0.8s;
	}

	&.active {

		opacity: 1;
		
	}

	&.correct {

		background: rgba(0,255,0,0.8);

		.correct {
			color: $white;
			transform: scale(1);
			opacity: 1;
			
		}

	}

	&.wrong {	

		background: rgba(255,0,0,0.8);

		.wrong {

			color: $white;
			transform: scale(1);
			opacity: 1;
			
		}

	}

	&.win {

		background: rgba(0,0,0,0.8);

		.win {

			color: $white;
			transform: scale(1);
			opacity: 1;

		}

	}

}

.hints {

	position: absolute;
	right: -50px;
	width: 250px;
	padding: 30px;
	color: #BA9315;
	font-weight: 700;
	z-index: 2;
	text-align: right;
	opacity: 0;

	h1{
		margin-bottom: 30px;
	}

	ul li {
		font-family: 'allerbold';
	}

	&.active {

		transition: all 2s;
		right: 0;
		opacity: 1;

	}

	li{
		margin-bottom: 10px;
	}

}