.start-overlay {

	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 20;
	background: rgba(0,0,0,0.9);
	color: $white;

	.contain {

		width: 600px;
		margin: 150px auto;

		input {

			margin: 40px 0;
			padding: 15px;
			background: none;
			color: $white;
			font-size: 1.6em;
			border: none;
			border-bottom: 4px solid $white;
			text-align: center;

		}

		.btn-primary {

			background: transparent;
			border: 2px solid $white;
			color: $white;
			padding: 10px 80px;

		}

	}

	.countdown {

		display: none;
		font-size: 600px;
		text-align: center;
		color: $white;

	}

}

.game.container {

	width: 100%;
	height: 100%;

	header {
		
		width: 100%;
	  	height: 50px;
	  	background: #fff;
	  	padding: 30px 20px;
	
		span {
			font-size: 40px;
			display: inline-block;
			margin: 0px 30px;
			font-weight: 700;
		}

		h1 {
			display: inline-block;
			font-size: 40px;
		}
	}

}

.main-game-panel {

	padding: 30px;
	position: relative;

	.player-one-word-trail {

		position: absolute;
		left: 0;
		top: 0;
		width: 30%;
		padding: 30px 0 0 30px;
		color: $white;
		font-weight: 700;

		ul li {

			list-style-type: none;
			margin: 0;
			margin-bottom: 30px;
			vertical-align: middle;

			span.circle {
				border-radius: 50%;
				height: 20px;
				width: 20px;
				background: $white;
				display: inline-block;

			}

			&:last-child {

				span.circle {
					border-radius: 50%;
					height: 20px;
					width: 20px;
					background: $yellow;
					border: 4px solid $white;
					display: inline-block;

				}

				span.word {
					display: inline-block;
					margin-top: 5px;
				}

			}


			span.word {
				vertical-align: top;
				margin-left: 7px;
			}

		}

	}

	.player-current-word {

		h1 {
			font-size: 2.4em;
		}

		img {
			background: $white;
			height: 300px;
			border: 10px solid $white;
			-ms-transform: rotate(3deg); /* IE 9 */
    		-webkit-transform: rotate(3deg); /* Chrome, Safari, Opera */
    		transform: rotate(3deg);
		}

	}

}

.answer-input {

	input {
		background: $white;
		border-radius: 8px;
		padding: 10px 15px;
		font-size: 1.8em;
		border: none;
		text-align: center;
	}

}

section.timer {

	position: fixed;
	width: 100%;
	background: $white;
	bottom: 0;
	height: 60px;
	line-height: 60px;

	.inner {

		width: 100%;
		position: fixed;
		bottom: 0;
		left: 0;
		background: $green;
		height: 60px;

		&.counting-down {

			transition: width 30s linear;
			width: 0;

		}

	}

	span {

		position: fixed;
		bottom: 0px;
		left: 0px;
		width: 100%;	
		color: $black;
		font-weight: 700;
		z-index: 10;
		
	}

}

.answer-feedback {

	transition: opacity 0.3s;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 20;
	pointer-events: none;
	opacity: 0;
	text-align: center;
	padding-top: 100px;

	h1 {	

		font-size: 140px;

	}

	h2 {
		text-transform: uppercase;
		font-size: 100px;
	}

	.correct, .wrong, .win {

		position: absolute;
		transition: all 0.3s;
		transform: scale(0.3);
		opacity: 0;
		width: 100%;
		top: 50%;
		left: 0;
		margin-top: -200px;

	}

	&.active {

		opacity: 1;
		
	}

	&.correct {

		background: rgba(0,255,0,0.8);

		.correct {
			color: $white;
			transform: scale(1);
			opacity: 1;
			
		}

	}

	&.wrong {	

		background: rgba(255,0,0,0.8);

		.wrong {

			color: $white;
			transform: scale(1);
			opacity: 1;
			
		}

	}

	&.win {

		.win {

			transform: scale(1);
			opacity: 1;

		}

	}

}
