<div class="start-overlay">

	<div class="contain text-center">

		<h1>HOW TO PLAY</h1>
		<br>
		<p>The object of the game is to get to the word BANANA by word association. The fewer the words the better you are! Enter your name below and begin!</p>

		<input type="text" class="user-name-input" value="TEST" placeholder="Your Name" id="user-name-input">
		<br>
		<a href="#" class="btn-primary start">LET'S PLAY!</a>

	</div>

	<div class="countdown">
		3
	</div>

</div>

<section class="game container">

	<header id="user-stats">
		<span id="user-score">0</span>
		<h1 id="user-name"></h1>
	</header>

	<div class="main-game-panel">

		<div class="player-one-word-trail">
			<ul>				
			</ul>
			<li class="banana">BANANA</li>
		</div>

		<div class="player-current-word text-center"></div>

		<div class="answer-input text-center">

			<input id="user-answer" type="text" placeholder="Answer" class="input-answer">

		</div>

	</div>
	
</section>

<section class="timer text-center">

	<span>GET TO BANANA WITH MARKET</span>

	<div class="inner"></div>

</section>