<div class="answer-feedback">
	<div class="correct">
		<h2 id="correct-answer"></h2>
		<h1>CORRECT</h1>
	</div>
	<div class="wrong">
		<h2 id="wrong-answer"></h2>
		<h1>WRONG</h1>
	</div>
	<div class="win">
		<h1>BANANA!!!!!</h1>
	</div>
</div>

<div class="start-overlay">

	<div class="contain text-center">

		<h1>HOW TO PLAY</h1>
		<br>
		<p>The object of the game is to get to the word BANANA by word association. The fewer the words the better you are! Enter your name below and begin!</p>

		<input type="text" class="user-name-input" value="TEST" placeholder="Your Name" id="user-name-input">
		<br>
		<a href="#" class="btn-primary start">LET'S PLAY!</a>

	</div>

	<div class="countdown">
		3
	</div>

</div>

<section class="game container row col">

	<header id="user-stats" class="row">
		<span id="user-score">0</span>
		<h1 id="user-name"></h1>
	</header>

	<div class="main-game-panel correct row scroll-y">

		<div class="player-one-word-trail col">
			<li>PATH</l1>
			<ul>				
			</ul>
			<li class="banana"><span class="circle"></span>Banana</li>
		</div>

		<div class="player-current-word text-center row col vertical-center-parent"></div>

		<div class="hints col">
			<li>HINTS</li>
			<ul>		
				<li>HINT 1</li>		
				<li>HINT 1</li>		
				<li>HINT 1</li>		
				<li>HINT 1</li>		
				<li>HINT 1</li>		
				<li>HINT 1</li>		
			</ul>
		</div>

	</div>
	
</section>

<section class="timer text-center">

	<span></span>

	<div class="inner"></div>

</section>