<div class="splash container text-center animated col row zoomIn vertical-center-parent">

  <div class="vertical-center">
  	<h3>GET THE</h3>
  	<h1>BANANA</h1>
  	<h3>THE WIKI POWERED WORD<br> ASSOCIATION GAME</h3>

  	<a class="btn-primary" href="#game">START</a>

  	<br><br>
  	<img src="images/banana.gif" width="150px"/>
  	<br><br>
  	<p class="explainer">A weekend <a href="http://arthackathon.co.uk/" target="_blank">Hackathon</a> project by <a href="https://twitter.com/chrisbrown_io" target="_blank"> Chris Brown</a> & <a href="https://twitter.com/woodenwoody" target="_blank">Scott Wooden</a></p>
  </div>

</div>